body {
  font-family: Helvetica, Arial, sans-serif;
}

.hidden {
  display: none;
}
.container {
  margin: 0 auto;
  max-width: 1200px;
  background-color: #efefef;


}

#main-header-nav ul {
  display:flex;
  flex:start;
  
  height: 100px;
  align-items: center;
  padding-left: 40px;
}


#main-header-nav ul  {
  text-decoration: none;
  color: rgb(42, 42, 42);
}

.box1, .box2 , .box3 , .box4{
 font-family: "bello-caps", sans serif;
 font-weight: 400;
 font-style: normal;
 padding-left: 40px;
 margin-top: 60px;
}

.box4 {
  margin-left:700px ;
  background-color: rgb(194, 194, 194);
  padding-right: 30px;
  border-radius: 40px;
}

.logo {
  background-color: #7b7b7b;
  padding:40px;
  text-align: center;
  margin-right: 530px;
  margin-left: 550px;
  
}

.hero {
  background-color: #464646;
  color: #efefef;
  padding: 350px;
  text-align: center;
}

.pop-up {
  background-color: #909090;
  color: #2d2d2d;
  padding: 100px;
  text-align: center;
  margin-top: -250px;
  margin-right: 700px;
}


